table{
    text-align: center;
    td{
      width: 200px;
       }
}
.btn{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    span{
        margin-top: 13px;
    }
}
img{
    width: 100%;
    
}